.h3 {
	margin: 10px;
}
.flip-container {
	-webkit-perspective:1000px;
	perspective: 1000px;
}
.flipper {
	position: relative;		
	text-align: center;		
	width: 200px;
	height: 200px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}
.flipper:hover {
	transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	text-color:#000;
	background: rgb(224,224,224);
	background: rgba(141,181,189,0.5);
	line-height: 200px;
	width: 200px;
	height: 200px;
	backface-visibility:hidden;
}
.back {
	transform: rotateY(180deg);
}