<div class="flip-container col-md-3" th:fragment="flipper">
	<div class="flipper">
		<div class="front">
			<h3>Test Course</h3>
		</div>
		<div class="back">
			<h3>Here goes the content of this card</h3>
		</div>
	</div>
</div>