<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Admin Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../resources/backendres/bower_components/bootstrap/dist/css/bootstrap.min.css"  th:href="@{/resources/backendres/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../../../resources/backendres/bower_components/metisMenu/dist/metisMenu.min.css" th:href="@{/resources/backendres/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Timeline CSS -->
    <link href="../../../resources/backendres/dist/css/timeline.css" th:href="@{/resources/backendres/dist/css/timeline.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../../../resources/backendres/dist/css/sb-admin-2.css" th:href="@{/resources/backendres/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="../../../resources/backendres/bower_components/morrisjs/morris.css" th:href="@{/resources/backendres/bower_components/morrisjs/morris.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../../../resources/backendres/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/resources/backendres/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>