<!-- jQuery -->
    <script src="../../../resources/backendres/bower_components/jquery/dist/jquery.min.js" data-th-src="@{/resources/backendres/bower_components/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/backendres/bower_components/bootstrap/dist/js/bootstrap.min.js" data-th-src="@{/resources/backendres/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../resources/backendres/bower_components/metisMenu/dist/metisMenu.min.js" data-th-src="@{/resources/backendres/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../../resources/backendres/bower_components/raphael/raphael-min.js" data-th-src="@{/resources/backendres/bower_components/raphael/raphael-min.js}"></script>
    <script src="../../../resources/backendres/bower_components/morrisjs/morris.min.js" data-th-src="@{/resources/backendres/bower_components/morrisjs/morris.min.js}"></script>
    <script src="../../../resources/backendres/js/morris-data.js" data-th-src="@{/resources/backendres/js/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../resources/backendres/dist/js/sb-admin-2.js" data-th-src="@{/resources/backendres/dist/js/sb-admin-2.js}"></script>