<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Technocrats Community Networks</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" type="text/css"/>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" type="text/css"/>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../../../resources/css/animate.min.css" th:href="@{/resources/css/animate.min.css}" type="text/css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../resources/css/creative.css" th:href="@{/resources/css/creative.css}" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">admin Dashboard</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">somelink</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Courses</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Test Series</a>
                    </li>  
                    <li>
                    	 <div class=" navbar-text dropdown">                    	 	
                			<button class="btn dropdown-toogle" type="button" id="dropdownMenu1"
	                			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">	               			
                				
                				<i class="glyphicon glyphicon-user"></i>                					               					  
                				<span class="caret"></span>
                			</button>
	                		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	                			<li><div th:if="${#httpServletRequest.remoteUser != null}">
										<label class="label label-info" th:text="${#httpServletRequest.remoteUser}">Sample user</label>                	
									</div>
								</li>
	                			<li role="separator" class="divider"></li>   
	                			<li>             			
		                			<form th:action="@{/logout}" method="post">
		                				<input class="btn-link" type="submit" value="Logout"/>
		               	 			</form>
		               	 		</li>
	                		</ul>                    	
            			</div>
                    </li>                              
                    
                </ul>              
             
               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>admin page</h1>
                <hr/>
                <p>Do check in few days</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>          
                            
            </div>
        </div>
    </header>    
	
    

    <!-- jQuery -->
    <script src="../../../resources/js/jquery.js" data-th-src="@{/resources/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/js/bootstrap.min.js" data-th-src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../../../resources/js/jquery.easing.min.js" data-th-src="@{/resources/js/jquery.easing.min.js}"></script>
    <script src="../../../resources/js/jquery.fittext.js" data-th-src="@{/resources/js/jquery.fittext.js}"></script>
    <script src="../../../resources/js/wow.min.js" data-th-src="@{/resources/js/wow.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../resources/js/creative.js" data-th-src="@{/resources/js/creative.js}"></script>

</body>

</html>
